#the_booleaner {
   height: 100px;
   width: 200px;
}
#date{
    margin-top: 0%;
    color: grey;
    font-size:15px ;
}
#image1{
    height: 362px;
    width: 543px;
}
#image2{
    width: 463px;
    height: 362px
}
span{
    color: rgb(0, 166, 255);
}
header{
    background-color: #9CD6F4;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    margin-bottom: 0%;
}
h5{
    margin-top: 0%;
    margin-bottom: 0%;
    color: grey;
}
ul{
    padding: 0%;
    margin-left: 20px;
}